#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Industrial Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #0B0C10;
}

::-webkit-scrollbar-thumb {
  background: #1F2833;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #45A29E;
}