@import "tailwindcss";

@theme {
  --color-background-main: #0B0C10;
  --color-surface-main: #1F2833;
  --color-primary-main: #66FCF1;
  --color-secondary-main: #45A29E;
  --color-alert-main: #FF4136;
  --color-text-main: #FFFFFF;
  --color-text-dim: #C5C6C7;
}

:root {
  --background: #0B0C10;
  --surface: #1F2833;
  --primary: #66FCF1;
  --secondary: #45A29E;
  --alert: #FF4136;
  --text-main: #FFFFFF;
  --text-dim: #C5C6C7;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0B0C10;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}